body {
  text-align: center;
  background-color: #283149;
}

h1 {
  font-size: 5rem;
  color: #dbedf3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #da0463;
}

footer {
  color: #dbedf3;
  font-family: sans-serif;
}

.w {
  background: url(./images/tom1.png);
}

.a {
  background: url(./images/tom2.png);
}

.s {
  background: url(./images/tom3.png);
}

.d {
  background: url(./images/tom4.png);
}

.j {
  background: url(./images/snare.png);
}

.k {
  background: url(./images/crash.png);
}

.l {
  background: url(./images/kick.png);
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404b69;
  font-size: 5rem;
  font-family: "Arvo", cursive;
  line-height: 2;
  font-weight: 900;
  color: #da0463;
  text-shadow: 3px 0 #dbedf3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}

/* Mobile Query */
.display {
  display: block;
}

.rotate-container {
  display: none;
}

@media screen and (orientation: portrait) and (min-device-width: 319px) and (max-device-width: 480px) {
  .display {
    display: none;
  }

  .rotate-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .rotate-container div {
    position: relative;
    display: flex;
    align-items: center;
  }

  .rotate-container div i {
    font-size: 10rem;
    animation: rotate-90-cw 4s linear infinite;
  }

  .rotate-container h1 {
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%) rotate(90deg);
  }
}

@-webkit-keyframes rotate-90-cw {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate-90-cw {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
